{{/* c8s-containerd-prep:managed-template */}}
{{/* RKE2's base template imports config-v3.toml.d/*.toml itself (k3s b51167a9); an imports line here would duplicate the key. */}}
{{ template "base" . }}
